<% @share_url = "#{ENV['PROD_SITE_URL']}#{request.env['PATH_INFO']}" %>
<table>
	<tr>
		<td>
			<%= twitter_button :url=> "", :text=> "#{@beerStyle.name}", :via=> "", :hashtags=> "Fermently" %>
		</td>
		<td>
			<%= facebook_button :send=> 'true', :url=> @share_url, layout: "button" %>
		</td>
	</tr>
</table>