<div align="center">
	<h1>About Fermently</h1>
	<hr width="75%">
	<p class="lead">Tired of trying to avoid spilling wort all over your analogue spreadsheet of brewing metrics?</p>
	<p class="lead">Frustrated formatting your spreadsheet to fit your lengthy comments?</p>
	<p class="lead">Annoyed typing homebrew data to your friends?</p>
	<p class="lead"><b>Then Fermently is for you!</b></p>
	<hr width="75%">
</div>
