<div align="center">

	<div class="jumbotron">
	 <h1>About Fermently</h1>
		
		<p>Tired of trying to avoid spilling wort all over your analogue spreadsheet of brewing metrics?</p>
		<p>Frustrated formatting your spreadsheet to fit your lengthy comments?</p>
		<p>Annoyed typing homebrew data to your friends?</p>
		<p><b>Then Fermently is for you!</b></p>
		
		<p><%= link_to "Click here to sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	</div>

	<div align="center" style="width:50%;">
		<hr width=75% />
		<p align="center">I have a dream,<br /> that one day, brewers everywhere<br /> will be able to easily share data about their brews<br /> across the World Wide Web!</p>
		<hr width=75% />
		<p>These were the words written down by our Fearless Fermentin' Leader on that fateful day in December 2013. Simply, we want to help you homebrew! And maybe brag to your friends about your successes!</p>
	</div>
	<%= render "/beers/share" %>
</div>