<p align="center">I have a dream,<br /> that one day, brewers everywhere<br /> will be able to easily share data about their brews<br /> across the World Wide Web!</p>
<hr width=75% />
<p>These were the words written down by our Fearless Fermentin' Leader on that fateful day in December 2013. Simply, we want to help you homebrew! And maybe brag to your friends about your successes...but hey! All is fair in love and war? Right?</p>

<p>This is an ongoing project. Here is some info about the development process:</p>
<ul>
	<li>CRUD for Beer Styles (COMPLETE)</li>
	<li>CRUD for Beers (COMPLETE)</li>
	<li>Homepage with basic menu (COMPLETE)</li>
	<li>CRUD for Users (ongoing)</li>
	<li>beers belong_to_and_have_many users (tbd)</li>
</ul>