<h2>Welcome to Fermently!</h2>

<div style="background-color:teal; width: 250px; text-align: center">
<% if user_signed_in? %>
	Sweet! You're already logged in!
<% else %>
	Sign up/in to add some homebrewin' data of your own!
<% end %>
</div>

<h3><%= link_to "Search for a beer", beers_path %>

<h3>10 Most recent beers brewed!</h3>
<%= render "beers/table" %>


<% @users.each do |u| %>

	<%= u.username %><br />
<% end %>