<div align="center">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-4">
    		<%= image_tag "fermently_logo_400.jpg", alt:"...", class: "img-responsive" %>
			</div>
			<div class="col-md-8">
		    <h1>Welcome to Fermently!</h1>
		    <h3>Store and sharing your brewing data online!</h3>
		    <p><%= link_to "Learn More", about_path, class: "btn btn-primary btn-lg" %></p>
		  </div>
		</div>
	</div>
</div>

<h3>Check out the latest Homebrews!</h3>
<%= render "beers/table" %>


