<h1>Welcome to Fermently!</h1>

<div style="background-color:teal; width: 250px; text-align: center">
<% if user_signed_in? %>
	Sweet! You're already logged in!
<% else %>
	If you haven't done so already, please sign up to add some homebrewin' data of your own!
<% end %>
</div>
<h3>User Stories</h3>
	<ol>
		<li class="complete">As a user, I want to be able to see a list of beer styles.</li>
		<li class="complete">As a user, I want to be able to add a beer and it's related data to the website.</li>
		<li class="complete">As a user, I want to have my own account.</li>
		<li class="complete">As a user, I want to be able to log in using my email address or my username.</li>
		<li class="complete">As a user, I want to have my own profile page.</li>
			<ul>
				<li class="complete">fermently.com/username</li>
			</uL>
		<li class="complete">As a user, I want to connect beers to my profile.</li>
		<li class="complete">As a user, I want to see a list of beers that I've brewed, in descending chronological order.</li>
		<li class="complete">As a user, I want my profile to have an easy-to-remember URL.</li>
		<li class="complete">As a user, I want to be able to search all beers added to the system.</li>
		<li class="complete">As a user, I want to list a beer as being brewed with more than one brewer.</li>
		<li>As a user, I want to be able to see my friends homebrewing data.</li>
		<li>As a user, I want to be able to be friends with other profiles.</li>
		<li>As a user, I want to be able to see averages of metrics for specific beers listed on it's beer style page.</li>
		<li>As a user, I want to see a list of beer styles from BreweryDB.</li>
		<li></li>
		<li>As a user, I want to be able eat bacon and bagels with cream cheese.</li>
	</ol>

<h3><%= link_to "Search for a beer", "/beers/search" %>

<h3>10 Most recent beers brewed!</h3>
<%= render "beers/table" %>
