<div align="center">
	<div class="jumbotron">
		<h1>Welcome to Fermently!</h1>
		<p>Store and sharing your brewing data online!</p>
		<p><%= link_to "Learn More", about_path, class: "btn btn-primary btn-lg" %></p>
	</div>
</div>

<h3>Check out the latest Homebrews!</h3>
<%= render "beers/table" %>


