<% @share_url = "#{ENV['PROD_SITE_URL']}#{request.env['PATH_INFO']}" %>
<table>
	<tr>
		<td>
			<%= twitter_button :url=> @share_url, :text=> "Check out my homebrews at Fermently!", :count_url=> "none", :via=> "" %>
		</td>
		<td>
			<%= facebook_button :send=> 'true', :url=> @share_url, layout: "button" %>
		</td>
	</tr>
</table>